@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}

/*FUENTES*/
@font-face {
	font-family: "Gotham-Light";
	src: url("fuentes/Gotham-Light.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham-Bold";
	src: url("fuentes/Gotham-Bold.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

p{
	color: #000;
	leading-trim: both;
	text-edge: cap;
	font-family: "Gotham Light";
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.8125rem; /* 150% */
}

b{
	font-family: "Gotham-Bold";
}
/*************************************************** ::: NAV ::: *********************************************************************/
.nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10%;
	position: static;
	margin-top: 5%;
	margin-bottom: 5%;
}

.nav a{
	text-decoration: none;
}

.firma{
	display: flex;
	justify-content: center;
	align-items: center;
}

.botonera-nav{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.texto-nav{
	display: flex;
	width: 240px;
	height: 60px;
	flex-direction: column;
	justify-content: center;
	
	color: var(--Negro, var(--Black, #101011));
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: "Gotham Light";
	font-size: 1.3rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.texto-nav:hover{
	color: #C7013E;
	font-family: "Joly Display";
	font-style: italic;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: normal;
}


.estrella-nav{
	width: auto;
	height: auto;
}


/*************************************************** ::: FOOTER ::: *********************************************************************/
footer a{
	text-decoration: none;
}

footer{
	padding-top: 20%;
	padding-bottom: 2%;
	position: static;
}

.footer-slogan{
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	justify-content: flex-end;
	flex-shrink: 0;
	color: #000;
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: "Joly Display";
	font-style: italic;
	font-size: 6rem;
	font-weight: 400;
	line-height: normal;
	margin: 0px;
}


footer h5{
	color: #000;
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: "Gotham Light";
	font-size: 2rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	justify-content: flex-end;
	flex-shrink: 0;
	
	padding-bottom: 3%;
}

.footer-link img{
	width: 80%;
	height: auto;
	flex-shrink: 0;
}


.footer-link p{
	display: flex;
	width: 240px;
	height: 60px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	
	color: #000;
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: "Gotham Light";
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.botones-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 2%;
}

.footer-link{
	display: flex;
	flex-direction: column;
	align-items: center;
}
/**************************************************** ::: COSITO REDES SOCIALES ::: ****************************************************/
.redes-sociales{
	position: fixed;
	background-color: #D7F6CD;
	padding: 12px;
	gap: 10px;
	right: 0;
	display: flex;
	flex-direction: column;
}
/*************************************************** ::: INDEX ::: *********************************************************************/
.landing-page{
	display: flex;
	padding: 0px 130px ;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 25%;
}

.foto-landing-page{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.informacion h1{
	width: auto;
	height: auto;
	
	color: var(--Negro, var(--Black, #101011));
	font-family: "Joly Display";
	font-size: 7rem;
	font-style: italic;
	font-weight: 400;
	line-height: 100%;
	
	margin: 0px;
}

.informacion p{
	width: 85%;
	height: auto;
}

.contactame-btn{
	display: flex;
	align-items: center;
	
	width: auto;
	height: auto;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	
	color: #000;
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: "Gotham Light";
	font-size: 1.5625rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	
	border-radius: 70px;
	border: 2px solid #000;
	
	background-color: transparent;
	
	padding: 18px;
}

.contactame-btn:hover{
	background-color: #C7013E;
}

.informacion{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.informacion a{
	text-decoration: none;
}
/*************************************************** ::: SOBRE MI ::: *********************************************************************/
.intro-sobre-mi{
	display: flex;
	padding: 0px 130px 30px 130px;
	justify-content: center;
	align-items: center;
	gap: 10%;
}

.bienvenida{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 70%;
}

.bienvenida p{
	width: 100%;
	height: auto;
	margin-bottom: 5%;
}

.flecha{
	width: 10%;
	height: 10%;
}

.datos ul{
	color: #000;
	leading-trim: both;
	text-edge: cap;
	font-family: "Gotham Light";
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 180%;
}

.datos h2{
	color: #000;
	leading-trim: both;
	text-edge: cap;
	font-family: "Joly Display";
	font-size: 4rem;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
}

.datos{
	width: 80%;
	gap: 10%;
	padding: 30px 130px;
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	
}

b{
	font-family: "Gotham-Bold";
}

iframe{
	margin-bottom: 5%;
}

/*************************************************** ::: TRABAJOS ::: *********************************************************************/
.intro-trabajos{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10%;
	margin-bottom: 10%;
}

.intro-trabajos h1{
	width: auto;
	height: auto;
	
	color: #000;
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: "Joly Display";
	font-size: 7rem;
	font-style: italic;
	font-weight: 400;
	line-height: 8.125rem;
	
	margin-bottom: 5%;
}

.intro-trabajos p{
	display: flex;
	width: auto;
	height: auto;
	flex-direction: column;
	justify-content: center;
}

.bella-durmiente, .tim-burton, .otros-trabajos, .pinturas{
	display: flex;
	padding: 60px 0px;
	flex-direction: column;
	align-items: center;
	gap: 10%;
}

.bella-durmiente, .tim-burton, .otros-trabajos, .pinturas h3{
	display: flex;
	width: 50%;
	height: auto;
	flex-direction: column;
	justify-content: center;
	
	color: #000;
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: "Joly Display";
	font-size: 3.4375rem;
	font-style: italic;
	font-weight: 400;
	line-height: 8.125rem;
}

.bella-durmiente, .tim-burton, .otros-trabajos, .pinturas p{
	width: 100%;
	height: auto;
}


#miniaturas{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	column-gap: 55px;
}

.pinturas{
	display: flex;
	padding: 60px 0px;
	flex-direction: column;
	align-items: center;
	gap: 55px;
}

.video-tini video{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

figcaption{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	leading-trim: both;
	text-edge: cap;
	font-family: "Gotham Light";
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.8125rem;
	margin-top: 2%;
}

.centrado{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FC98A4;
}

.volver-atras{
	position: absolute;
	top: 10px;
	right: 2%;
	background-color: #FC98A4;
}

.galeria-pinturas-general{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	column-gap: 55px;
	
	margin-top: 8%;
}

.galeria-pinturas{
	width: 90%;	
	height: inherit;
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;/*Aparece como un error pero se ve bien en la pagina, ni idea que sucede :P */
	grid-template-rows: auto;
	grid-gap: 10px;
}

/**** ::: GALERIA NOTION CATEDRA ::: ****/

#galeria {
	display: none;
	width: 100%;
	justify-content: center;
	height: 95vh;
	background-color: #FC98A4;
	position: absolute;
	top: 0;
	z-index: 10;
}

#galeria-oculta {
	display: flex;
	width: 100%;
	max-width: 1450px;
	overflow: hidden;
	z-index: 20;
}

.fraccion-galeria {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	min-width: 1450px;
	height: 100vh;
	justify-content: space-between;	
}

.primer-ultima-flecha {
	visibility: hidden;
}

.close {
	position: absolute;
	top: 10px;
	right: 2%;
}

/*------IDS CON LAS IMÁGENES DE LA GALERÍA-------*/

#foto-1 {
	background-image: url("img/trabajos/carrusel-1.png")
}

#foto-2 {
	background-image: url("img/trabajos/carrusel-2.png");
}

#foto-3 {
	background-image:url("img/trabajos/carrusel-3.png");
}




.galeria-bella {
    display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 5%;
}

.gallery-item {
    position: relative;
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gif{
	display: flex;
	align-items: center;
	justify-content: center;
	position:static;
    width: 30%;
    height: auto;
	border-radius: 10px;
}



.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según sea necesario */
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 50%; /* Ancho de la galería */
    height: auto; /* Alto de la galería */
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease; /* Transición suave */
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*************************************************** ::: CONTACTO ::: *********************************************************************/
.intro-contacto{
	display: flex; 
	flex-direction: column;
	align-items: center;
	gap: 10%;
}

.intro-contacto h1{
	width: auto;
	height: auto;
	
	color: #000;
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: "Joly Display";
	font-size: 7rem;
	font-style: italic;
	font-weight: 400;
	line-height: 8.125rem; /* 113.043% */
	
	margin: 0px;
}

.intro-contacto p{
	display: flex;
	width: auto;
	height: auto;
	flex-direction: column;
	justify-content: center;
}


form{
	margin-top: 5%;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}

form div{
	width: 50%;
	height: auto;
	padding: 10px;
}

input{
	width: 100%;
	height: 40px;
	background-color: transparent;
	
	border-radius: 70px;
	border: 1px solid #000;
	
}

label, h7{
	display: block;
	height: 25px;
	color: #000;
	leading-trim: both;
	text-edge: cap;
	font-family: "Gotham Light";
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.8125rem;
	margin-bottom: 10px;
}

input[type=radio]{
	width: auto;
	height: 25px;
	background-color: gray;
	margin-bottom: 5px;
}

.borrar-btn, .enviar-btn{
	height: 50px;
	width: 100px;
	color: #000;
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: "Gotham Light";
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	
	border-radius: 70px;
	border: 2px solid #000;
	
	background-color: transparent;
	
	padding: 18px;
	margin: 0px 15px;
}

.borrar-btn:hover{
	background-color: #FC98A4;
}

.enviar-btn:hover{
	background-color: #019A76;
}

/*************************************************** ::: @MEDIA ::: *********************************************************************/
@media screen and (max-width: 600px) {
	.redes-sociales{
		position: fixed;
		background-color: #D7F6CD;
		padding: 2%;
		right: 0;
		display: flex;
		flex-direction: column;
	}
	

	
	.nav{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: static;
		margin-top: 5%;
		margin-bottom: 5%;
		
	}
	
	.botonera-nav{
		display: flex;
		justify-content: center;
		align-items: center;
		list-style-type: none;
		flex-direction: column;
	}
	
	.texto-nav{
		display: flex;
		width: 40%;
		height: 40%;
		flex-direction: column;
		justify-content: center;
		
		font-size: 1rem;
	}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


}













